{% extends 'layout.html' %}

{% block content %}

    <form action="{{url_for('cards_search')}}" method="post">
        <div class="form-group pb-4">
            <input type="text" class="form-control mb-4" placeholder="Enter a search"  name="search"/>
            <button class="btn btn-primary" type="submit">Show</button>
        </div>
    </form>
   <div style="display:grid;grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ">
   {% for card in cards %}
       <div class="border p-2  fw-medium">
            <div class="d-flex flex-column justify-content-center">
                <div class="mb-2"> {{card.card_id}}</div>
                  <div class="mb-2"> {{card.title}}</div>
                    <div class="mb-2" >  {{card.description}}</div>
                    <div class="mb-2" >{{card.created_at}}</div>
                     <div class="mb-2" > {{card.category_id}}</div>
                    <div class="d-flex flex-row justify-content-between ">
                    <div ><button type="submit" class="btn btn-success">Update</button></div>
                    <div ><button type="submit" class="btn btn-danger">Delete</button></div>
                    <div><button type="submit" class="btn btn-secondary">Show</button></div>
                     </div>
                    </div>
       </div>
    {% endfor %}
       </div>
    {{ search_result  }}
{% endblock %}