{% extends 'layout.html' %}

{% block content %}

    <form action="{{url_for('cards_search')}}" method="post">

        <div class="form-group pb-4">
            <input type="text" class="form-control mb-4" placeholder="Enter a search"  name="search"/>
            <button class="btn btn-primary" type="submit">Show</button>
        </div>

    </form>
   {% for card in cards %}
       <div class="border p-2  fw-medium">
        <div class="row">
          <div class="col-md-2"> {{card.title}}</div>
            <div class="col-md-2">  {{card.description}}</div>
            <div class="col-md-2">{{card.created_at}}</div>
             <div class="col-md-2"> {{card.category_id}}</div>
            <div class="col-md-auto mr-sm-2  mb-2 mb-md-0"><button type="submit" class="btn btn-success">Update</button></div>
            <div class="col-md-auto mr-sm-2  mb-2 mb-md-0"><button type="submit" class="btn btn-danger">Delete</button></div>
            <div class="col-md-auto"><button type="submit" class="btn btn-secondary">Show</button></div>
        </div>
       </div>
    {% endfor %}
    {{ search_result  }}
{% endblock %}