{% extends 'layout.html' %}

{% block content %}
 <div class="d-flex flex-column align-items-center justify-content-center">

{% if card.image_file %}
     <div>
<img class="mb-4 mt-4" width="200" height="200" src="{{ url_for('static', filename='img/' + card.card_id|string + '.png') }}"/>
{% endif %}
 </div>
<div>{{card.card_id}}</div>
<div>{{card.title}}</div>
<div>{{card.description}}</div>
<div>{{card.created_at}}</div>
{% if card.category_id %}
     <div>{{card.category_id}}</div>
{% endif %}
{% endblock %}
 </div>